*{
   margin: 0;
   padding: 0; 
}

body {
    background-color:#434040ee;
}
/*logo*/
.fa-user-secret {
    font-size: 80px;
    margin-top: 3%;
    margin-left:5%;
    margin-bottom: 3%; 
    color:#fcf3ca; 
   
}

#Box {
    width:100%;
    height: 20px;
    background-color:hsl(56, 100%, 61%);
    position: relative;
    margin-bottom: 10px;
}


body h1 {
    width:100%;
    font-family: 'Lobster', cursive;
    font-size: 90px;
    text-align: center;
    color: #fcf3ca;
    font-weight: bold;
    padding:10px 10px 10px 10px;
    background-color:  hsl(317, 55%, 56%);
    font-weight: normal;

}

#textBtn {
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    color:hsl(56, 100%, 61%);
    margin-top: 10px;
    margin-left: 80px;
}

#saltos {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 20px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid hsl(56, 100%, 61%);
    padding:10px 10px 10px 10px;
    margin-left:5px; 
    margin-bottom: 5px;
    margin-top: 10px;
    color:#d223a0;
    position: relative;
    overflow: hidden;
    background-color: #fcf3ca;
   
    
}

.fa-plus {
    font-size: 30px;
    color: hsl(56, 100%, 61%);
    margin-left:10%; 
    
}


#cifrado {
    width: 40%;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    border: 2px solid hsl(56, 100%, 61%);
    border-radius: 40px;
    padding:10px 10px 70px 40px;
    position: relative;
    margin-left:30%; 
    margin-right:30%; 
    margin-top: 50px;
    background-color: #fcf3ca;
    color: #d223a0;
    
    
}


#btnCifrar  {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #ffd933;
    border-radius: 30px;
    margin-left:47%;
    margin-top: 10px;
    color:#fcf3ca;
    background-color: #f1c550;

}

#descifrado {
    width: 40%;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    bottom: 100px;
    border: 2px solid hsl(56, 100%, 61%);
    border-radius: 40px;
    padding:10px 10px 60px 40px;
    position: relative;
    top: 80px;
    margin-left:30%; 
    margin-right:30%; 
    margin-bottom: 100px;
    background-color: #fcf3ca;
    color:#d223a0;
}

#btnDesifrar {
    width: 130px;
    height: 40px;
    margin-left:47%; 
    font-size: 20px;
    border: 1px solid hsl(56, 100%, 61%);
    margin-bottom: 150px;
    border-radius: 30px;
    color:#fcf3ca;
    background-color: #f1c550;
}